services:
  - type: web
    name: ldss-backend
    env: node
    region: oregon
    plan: free
    buildCommand: cd backend && npm install && npm run build && npx prisma generate && npx prisma migrate deploy && npm run seed
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: PORT
        value: 4000
